.fixed-position div{
  background-color: white;
    border: none;
    padding: 10px 0px 20px 5px;
    width:100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
  }
  .fixed-position span{
    width:100%;
  }
 
  .active {
   background-color: red!important;
   padding:-10px opx -20px -5px;
   color:white;
   
  }
