.main-container{
 
  display: flex;
  flex-direction: row;
  width:100%;
  
}
.left-section{
 
  width:10%;
  padding:10px;
  min-height: 800px;
  background-color: whitesmoke;
}
.middle-section{
  position: relative;
  width:80%;
  min-height: 800px;
  padding:10px;
  display: flex;
  flex-direction: row;
 
  
}
.mid-left{
  
  width:15%;
  
}
.fixed-position{
  position:fixed;
  display:flex;
  flex-direction: column;
  max-width: fit-content;
  height:fit-content;
  box-shadow: 0 3px 8px 0 rgba(0,106,194,.2);
  background-color: #fff;
  border-radius: 4px;
  
}

.mid-right{
  position: relative;
  margin-left:25%;
  width:85%;
  margin:2px;
}
.right-section{
 
  width:10%;
  min-height: 800px;
  padding:10px;
  background-color: whitesmoke;
}
.App-header {
  background-color: #282c34;
  min-height: 65px;
  display: flex;
  flex-direction: row;

  color: white;
 
}